<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form method="post" action="/AddStudent">
        <div th:each="course : ${courses}">
            <input type="radio" name="courseId" th:value="${course.getCourseId()}"/> <span th:text="${course.getName()}"></span> <br/>
        </div>
        <br/>
        <button type="submit">Submit</button>
    </form>
    <br/>
</main>
</body>
</html>